*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    background-color: #0C0E18;


}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
 color: #FFFFFF;
}
select{
    background-color: #232028;
    box-shadow: 0px 0px 11px 0px #FFFFFF;

}

h3{
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
text-align: right;
color: white;
}
button{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
    margin: 32px 15px;
    background-color: #BFAFF2;
    border-radius: 10px;
   border: none;
   width: 175px;
   height: 50px;
}
.text{
    display: flex;
    align-items: center;
    gap: 15px;
}
.number{
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero{
    background-color: #101220;
    padding-top: 350px;
    display: flex;
    align-items: center;
 justify-content: space-between;
 gap: 15px;
}
.card{
    width: 325px;
    height: 240px;
    background-color: #232028;
    color: white;
    border-radius: 32px;
    text-align: center;
    padding: 15px;
    position: relative;
    padding-top: 30px;
}
.card img{
    position: absolute;
    top: -310px;
    left: 40px;
}
footer{
    width: 1440px;
    height: 64px;
    background-color: #0C0E18;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.link{
    display: flex;
    align-items: center;
   gap: 10px;
   color: white;
}
